button{
    font-family: 'Quicksand', sans-serif;
}

.Botón_Banner{
    border: 0px var(--Black) solid;
    background-color: var(--Primary);
    width: 210px;
    height: 50px;
    border-radius: 15px;
    font-size: 10px;
    color: var(--White);
    font-size: 24px;
    font-weight: 300;
}

.Botón_Banner:hover{
    background-color: var(--Primary_Hover);
    cursor: pointer;

    width: 200px;
    height: 45px;
}


.Botón_Tertiary{
    width: 140px;
    height: 45px;
    background-color: var(--Black);
    color: var(--White);
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
}

.Botón_Tertiary:hover{
    cursor: pointer;
    background-color: var(--Light_Black);
}

.Imagen{
    background-image: url('Chevron');
}