/* Atributos generales Navegación */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    justify-content: space-between;
  
    background-color: var(--LightWhite);
}

/* Logotipo Atributos */
nav img{
    width: 80px;
    height: 50px;

    margin: 10px;
}
  
/* Botones de navegación */

.Op1 > * {
    padding: 5px;
    margin: 0px 10px;
}

/* Botones Usuarios */
.Op2 > * {
    margin: 0px 10px;
    padding: 3px;
}

/* Botón Login Atributos */
.Op2 a:nth-child(2){
    border: var(--LightGray) 1px solid;
    border-radius: 10px;
}