

.Form_Register{
  display: flex;
  flex-direction: column;
  
  background-color: var(--Gray);
  border: var(--LightGray) 1px solid;
  border-radius: 10px;
  
  gap: 50px;
}

/* .Form_Register div:nth-child(1){
  display: flex;
  flex-wrap: wrap;
} */

.Inputs_R{
  display: flex;
  flex-direction: column;
}


/* Divisor */
.Divider_R{
  background-color: blue;
  width: 80%;
  height: 2px;
}


.Titulo_R{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;
}

.Titulo_R h1{
  font-weight: 500;
}

.Datos_R img{
  width: 100px;
  height: 60px;
}
