/*=====VARIABLES=====*/
#root{
  --Background: #fff;
  --Primary: #465A52;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--Background);
}

Header{
  display: flex;
  flex-direction: row ;
  align-items: center;

  justify-content: space-around;

  border: var(--Primary) 1px solid;
}

