/*=====VARIABLES=====*/
#root{
  font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --White: #fff;
  --Black: #000;
  --Primary: #465A52;
  --LightWhite: #ebeff3;
  --LightGray: #00000033;
  --Gray: #D9D9D9;
  --Textbox: #E9E9E9;
}

/*=====Propiedades HTML=====*/
*{
  font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;

  --White: #fff;
  --Black: #000;
  --MiddleBlack: #00000080;
  --Primary: #465A52;
  --LightWhite: #ebeff3;
  --LightGray: #00000033;
  --Gray: #D9D9D9;
  --Textbox: #E9E9E9;
}

html{
  height: 100%;
}

/*Eliminar decoración Vinculos*/
a{
  text-decoration: inherit;
  color: var(--Black);
}

/* Atributos cuerpo de la pagina */
article{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  height: 100%;
}

/* Atributos Imagen */
article img{
  width: 500px;
  height: 500px;

  margin: 50px;
}

/* Atributos Divisor entre Imagen & Formulario */
.Divider{
  width: 1px;
  height: 600px;
  background-color: var(--LightGray);
}

/* Contenedor Formulario */
.FormLogin{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px;  
}

/* Atributos Formulario */
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--Gray);
  border: var(--LightGray) 1px solid;
  border-radius: 10px;


  width: 480px;
  height: 550px;

  gap: 50px;
}

/* Subrayar Registrate Aquí */
form a{
  text-decoration: underline;
}

/* Atributos Titúlo */
form h2{
  font-size: 36px;
}

.Inputs > *{
  font-size: 16px;
  margin: 5px;
}

/* Atributos Textbox */
#Text{
  width: 400px;
  height: 60px;

  border: var(--MiddleBlack) 1px solid;
  border-radius: 10px;
}

/* Atributos Botón */
#Button{
  width: 280px;
  height: 70px;

  border-radius: 50px;
  font-size: 36px;
  color: var(--White);
  background-color: #000;
}

#Button:hover{
  cursor: pointer;
  background-color: var(--MiddleBlack);
}